<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/styles.css">
    <title>Log In</title>
</head>
<body>
    <h1>Log In</h1>
    <div>
        <form method="POST" action="/user">
            <label>Email : </label>
            <input type = "email" name="email" placeholder="email" required>
            <label>Password : </label>
            <input type="password" name="password" placeholder="password" required> 
            <button type="submit">Log In</button>>
        </form>
    </div>     
</body>
</html>